name: CI - Build Microservices Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-images:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - service: frontend
            dockerfile: Dockerfile
          - service: cartservice
            dockerfile: src/Dockerfile
          - service: productcatalogservice
            dockerfile: Dockerfile

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/${{ matrix.service }}/${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/online-boutique-${{ matrix.service }}:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/online-boutique-${{ matrix.service }}:latest
          cache-to: type=inline